.element-home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element-home .div-2 {
    background-color: #ffffff;
    height: 3879px;
    overflow: hidden;
    position: relative;
    width: 1366px;
}

.element-home .footer {
    background-color: transparent;
    height: 477px;
    left: 0;
    position: absolute;
    top: 3393px;
    width: 1366px;
}

.element-home .overlap-group {
    background-color: #fbfbfb;
    height: 486px;
    position: relative;
    width: 1366px;
}

.element-home .overlap {
    height: 76px;
    left: 63px;
    position: absolute;
    top: 378px;
    width: 1244px;
}

.element-home .payments {
    height: 34px;
    left: 968px;
    position: absolute;
    top: 39px;
    width: 272px;
}

.element-home .img {
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.element-home .rectangle-2 {
    height: 34px;
    left: 72px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 56px;
}

.element-home .rectangle-3 {
    height: 34px;
    left: 144px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 56px;
}

.element-home .rectangle-4 {
    height: 34px;
    left: 216px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 56px;
}

.element-home .bottom-footer {
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1244px;
}

.element-home .text-wrapper-3 {
    color: var(--heading);
    font-family: "Lato-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 371px;
}

.element-home .privacy-policy-terms {
    color: var(--heading);
    font-family: "Lato-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 59px;
    white-space: nowrap;
    width: 286px;
}

.element-home .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1240px;
}

.element-home .overlap-2 {
    height: 169px;
    left: 1008px;
    position: absolute;
    top: 70px;
    width: 297px;
}

.element-home .column {
    height: 169px;
    left: 0;
    position: absolute;
    top: 0;
    width: 136px;
}

.element-home .socials {
    height: 21px;
    left: 0;
    position: absolute;
    top: 148px;
    width: 142px;
}

.element-home .pint {
    color: var(--heading);
    font-family: "Baloo-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 21px;
    left: 121px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 13px;
}

.element-home .ins {
    color: var(--heading);
    font-family: "Baloo-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 21px;
    left: 81px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 16px;
}

.element-home .t {
    color: var(--heading);
    font-family: "Baloo-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 21px;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 17px;
}

.element-home .f {
    color: var(--heading);
    font-family: "Baloo-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 16px;
}

.element-home .text-wrapper-4 {
    color: var(--heading);
    font-family: "Arimo-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0.6px;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.element-home .form {
    height: 48px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 297px;
}

.element-home .arrow {
    height: 48px;
    left: 247px;
    position: absolute;
    top: 0;
    width: 50px;
}

.element-home .arrow-2 {
    color: var(--text);
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    left: 19px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.element-home .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 48px;
    width: 253px;
}

.element-home .text-wrapper-5 {
    color: var(--text);
    font-family: "Lato-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 94px;
}

.element-home .column-2 {
    height: 210px;
    left: 693px;
    position: absolute;
    top: 68px;
    width: 103px;
}

.element-home .text-wrapper-6 {
    color: var(--heading);
    font-family: "Lato-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 44px;
    width: 99px;
}

.element-home .column-3 {
    height: 238px;
    left: 378px;
    position: absolute;
    top: 70px;
    width: 103px;
}

.element-home .column-4 {
    height: 210px;
    left: 63px;
    position: absolute;
    top: 70px;
    width: 109px;
}

.element-home .about-us-latest {
    color: var(--heading);
    font-family: "Lato-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 44px;
    width: 105px;
}

.element-home .overlap-3 {
    height: 3005px;
    left: 0;
    position: absolute;
    top: 109px;
    width: 1376px;
}

.element-home .best-selling {
    background-color: #ffffff;
    height: 920px;
    left: 10px;
    position: absolute;
    top: 1704px;
    width: 1366px;
}

.element-home .button-instance {
    left: 604px !important;
    position: absolute !important;
    top: 752px !important;
}

.element-home .element-14 {
    left: 1008px !important;
    position: absolute !important;
    top: 270px !important;
}

.element-home .element-15 {
    object-fit: cover !important;
}

.element-home .element-16 {
    height: 20px !important;
    left: 122px !important;
    top: 389px !important;
}

.element-home .element-17 {
    font-family: "Baloo-Regular", Helvetica !important;
    left: 87px !important;
}

.element-home .element-18 {
    left: 378px !important;
    position: absolute !important;
    top: 270px !important;
}

.element-home .element-19 {
    font-family: "Baloo-Regular", Helvetica !important;
    left: 115px !important;
}

.element-home .element-20 {
    left: 693px !important;
    position: absolute !important;
    top: 270px !important;
}

.element-home .element-21 {
    font-family: "Baloo-Regular", Helvetica !important;
    left: 89px !important;
}

.element-home .frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    left: 53px;
    padding: 10px;
    position: absolute;
    top: 260px;
}

.element-home .element-22 {
    font-family: "Baloo-Regular", Helvetica !important;
    left: 94px !important;
}

.element-home .page-title-2 {
    height: 112px;
    left: 542px;
    position: absolute;
    top: 110px;
    width: 284px;
}

.element-home .text-wrapper-7 {
    color: var(--heading);
    font-family: var(--section-title-font-family);
    font-size: var(--section-title-font-size);
    font-style: var(--section-title-font-style);
    font-weight: var(--section-title-font-weight);
    left: 45px;
    letter-spacing: var(--section-title-letter-spacing);
    line-height: var(--section-title-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.element-home .text-wrapper-8 {
    color: var(--text);
    font-family: "Lato-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 64px;
    white-space: nowrap;
}

.element-home .new-products-instance {
    left: 0 !important;
    position: absolute !important;
    top: 568px !important;
}

.element-home .mask-group {
    height: 648px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1366px;
}

.element-home .hero {
    height: 210px;
    left: 464px;
    position: absolute;
    top: 219px;
    width: 492px;
}

.element-home .promo {
    height: 429px;
    left: 63px;
    position: absolute;
    top: 2576px;
    width: 1240px;
}

.element-home .overlap-group-wrapper {
    height: 429px;
    left: 0;
    position: absolute;
    top: 0;
    width: 719px;
}

.element-home .overlap-group-2 {
    background-color: #000000;
    height: 429px;
    position: relative;
    width: 715px;
}

.element-home .button-2 {
    left: 269px !important;
    position: absolute !important;
    top: 261px !important;
}

.element-home .summer-sales-has {
    color: #ffffff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 155px;
    letter-spacing: 0;
    line-height: 23.4px;
    position: absolute;
    text-align: center;
    top: 181px;
    width: 406px;
}

.element-home .peace-of-mind {
    color: #ffffff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 174px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 119px;
    white-space: nowrap;
    width: 368px;
}

.element-home .overlap-wrapper {
    height: 429px;
    left: 735px;
    position: absolute;
    top: 0;
    width: 509px;
}

.element-home .overlap-4 {
    background-color: #000000;
    height: 429px;
    position: relative;
    width: 505px;
}

.element-home .button-3 {
    left: 172px !important;
    position: absolute !important;
    top: 261px !important;
}

.element-home .p {
    color: #ffffff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 50px;
    letter-spacing: 0;
    line-height: 23.4px;
    position: absolute;
    text-align: center;
    top: 181px;
    width: 406px;
}

.element-home .buy-get-free {
    color: #ffffff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 69px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 119px;
    white-space: nowrap;
    width: 368px;
}

.element-home .overlap-5 {
    height: 111px;
    left: 0;
    position: absolute;
    top: -17px;
    width: 1366px;
}

.element-home .header {
    background-color: transparent;
    height: 111px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1366px;
}

.element-home .navbar {
    background-color: #ffffff;
    height: 78px;
    overflow: hidden;
    position: relative;
    top: 33px;
    width: 1366px;
}

.element-home .overlap-6 {
    background-color: #ffffff;
    height: 88px;
    position: relative;
    top: -5px;
}

.element-home .search-cart {
    height: 39px;
    left: 1177px;
    position: absolute;
    top: 24px;
    width: 126px;
}

.element-home .menu {
    height: 24px;
    left: 102px;
    position: absolute;
    top: 15px;
    width: 24px;
}

.element-home .cart {
    height: 39px;
    left: 49px;
    position: absolute;
    top: 0;
    width: 33px;
}

.element-home .overlap-7 {
    height: 39px;
    position: relative;
    width: 35px;
}

.element-home .img-2 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 24px;
}

.element-home .quantity {
    height: 35px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 23px;
}

.element-home .overlap-group-3 {
    height: 35px;
    position: relative;
    width: 21px;
}

.element-home .ellipse {
    background-color: var(--primary);
    border-radius: 10.5px;
    height: 21px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 21px;
}

.element-home .text-wrapper-9 {
    color: #ffffff;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    height: 35px;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 12px;
}

.element-home .home-pages {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 480px;
    letter-spacing: 0.6px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 35px;
}

.element-home .logo {
    height: 44px;
    left: 75px;
    position: absolute;
    top: 22px;
    width: 138px;
}

.element-home .rendelle {
    color: var(--heading);
    font-family: "Lato-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    height: 44px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
}

.element-home .nav-elements {
    height: 25px;
    left: 361px;
    position: absolute;
    top: 69px;
    width: 252px;
}

.element-home .benefit {
    background-color: #ffffff;
    height: 211px;
    left: 0;
    position: absolute;
    top: 3182px;
    width: 1366px;
}

.element-home .element-23 {
    height: 71px;
    left: 63px;
    position: absolute;
    top: 70px;
    width: 233px;
}

.element-home .free-shipping-on-all {
    color: var(--text);
    font-family: "Lato-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 39px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 189px;
}

.element-home .free-shipping {
    color: var(--heading);
    font-family: "Baloo-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -3px;
}

.element-home .icon {
    color: #024e82;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 28px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
}

.element-home .element-24 {
    height: 71px;
    left: 378px;
    position: absolute;
    top: 70px;
    width: 233px;
}

.element-home .text-wrapper-10 {
    color: var(--text);
    font-family: "Lato-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 39px;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 189px;
}

.element-home .text-wrapper-11 {
    color: var(--heading);
    font-family: "Baloo-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -3px;
}

.element-home .element-25 {
    height: 71px;
    left: 693px;
    position: absolute;
    top: 70px;
    width: 233px;
}

.element-home .element-26 {
    height: 71px;
    left: 1008px;
    position: absolute;
    top: 70px;
    width: 233px;
}