:root {
    --blog-title-font-family: "Arimo", Helvetica;
    --blog-title-font-size: 21px;
    --blog-title-font-style: normal;
    --blog-title-font-weight: 700;
    --blog-title-letter-spacing: 0px;
    --blog-title-line-height: normal;
    --body-text-font-family: "Baloo", Helvetica;
    --body-text-font-size: 16px;
    --body-text-font-style: normal;
    --body-text-font-weight: 400;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: normal;
    --button-large-text-font-family: "Lato", Helvetica;
    --button-large-text-font-size: 16px;
    --button-large-text-font-style: normal;
    --button-large-text-font-weight: 400;
    --button-large-text-letter-spacing: 0px;
    --button-large-text-line-height: 22px;
    --button-medium-text-font-family: "Lato", Helvetica;
    --button-medium-text-font-size: 14px;
    --button-medium-text-font-style: normal;
    --button-medium-text-font-weight: 400;
    --button-medium-text-letter-spacing: 0px;
    --button-medium-text-line-height: 20px;
    --category-meta-font-family: "Abel", Helvetica;
    --category-meta-font-size: 13px;
    --category-meta-font-style: normal;
    --category-meta-font-weight: 400;
    --category-meta-letter-spacing: 0px;
    --category-meta-line-height: 20px;
    --category-title-font-family: "Arimo", Helvetica;
    --category-title-font-size: 20px;
    --category-title-font-style: normal;
    --category-title-font-weight: 700;
    --category-title-letter-spacing: 0px;
    --category-title-line-height: normal;
    --heading: rgba(29, 29, 29, 1);
    --hero-subtitle-font-family: "Baloo", Helvetica;
    --hero-subtitle-font-size: 18px;
    --hero-subtitle-font-style: normal;
    --hero-subtitle-font-weight: 400;
    --hero-subtitle-letter-spacing: 0px;
    --hero-subtitle-line-height: 129.99999523162842%;
    --hero-title-font-family: "Lato", Helvetica;
    --hero-title-font-size: 48px;
    --hero-title-font-style: normal;
    --hero-title-font-weight: 400;
    --hero-title-letter-spacing: 0px;
    --hero-title-line-height: 48px;
    --primary: rgba(2, 78, 130, 1);
    --primarydark: rgba(20, 81, 123, 1);
    --primarylight: rgba(134, 161, 179, 1);
    --product-price-font-family: "Lato", Helvetica;
    --product-price-font-size: 16px;
    --product-price-font-style: normal;
    --product-price-font-weight: 400;
    --product-price-letter-spacing: 0px;
    --product-price-line-height: normal;
    --product-section-title-font-family: "Lato", Helvetica;
    --product-section-title-font-size: 24px;
    --product-section-title-font-style: normal;
    --product-section-title-font-weight: 400;
    --product-section-title-letter-spacing: 0px;
    --product-section-title-line-height: 48px;
    --product-title-font-family: "Abel", Helvetica;
    --product-title-font-size: 16px;
    --product-title-font-style: normal;
    --product-title-font-weight: 400;
    --product-title-letter-spacing: 0px;
    --product-title-line-height: normal;
    --promo-title-font-family: "Lato", Helvetica;
    --promo-title-font-size: 32px;
    --promo-title-font-style: normal;
    --promo-title-font-weight: 400;
    --promo-title-letter-spacing: 0px;
    --promo-title-line-height: 48px;
    --secondary: rgba(214, 118, 60, 1);
    --secondarydark: rgba(226, 112, 43, 1);
    --secondarylight: rgba(221, 168, 136, 1);
    --section-title-font-family: "Arimo", Helvetica;
    --section-title-font-size: 36px;
    --section-title-font-style: normal;
    --section-title-font-weight: 700;
    --section-title-letter-spacing: 0px;
    --section-title-line-height: 48px;
    --text: rgba(85, 85, 85, 1);
}